@page "/"
@namespace DEF.CustomerSvc.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorChat</title>
    <base href="~/" />
    <link href="~/css/layui.css" rel="stylesheet" />
    <link href="~/css/layer.css" rel="stylesheet" />
    <link href="~/css/chat.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
    <script src="~/js/blazor-chat.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Daddoon/Blazor.Polyfill@3.0.8/Publish/Blazor.Polyfill.Publish/blazor.polyfill.min.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>